extends layout

block content
  .loader.invisible.overlay
          p Loading...
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href='#') Strava App
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarsExampleDefault.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item.active
          a.nav-link(href='/account') Account
        li.nav-item
          a.nav-link(href='/logout') Logout
  main(role='main')
    .container.maincontainer
      h1= "Hello " + user.name
      br
      h2 Activities
      table.table
        thead
          tr
            th(scope='col') Name
            th(scope='col') Date
            th(scope='col') 5K Time
        tbody
      p
        a.btn.btn-primary.btn-lg(id="get") More

  footer.container
    p BJM -
      a(href="https://github.com/benmepham")  GitHub

  // Modal
  #errorModal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#errorModalLabel.modal-title An Error has Occured
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          | Error
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
          a.btn.btn-primary(href="/auth/strava") Reconnect


  script(src='/javascript/account.js')


