extends layout

block content
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href='#') Strava App
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarsExampleDefault.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='#') Home
        if user
          li.nav-item
            a.nav-link(href='/account') Account
          li.nav-item
            a.nav-link(href='/logout') Logout
  main(role='main').mb-4
    .jumbotron
      .container
        h1.display-3 Strava App
        h4 Sign in with your Strava account to view your 5K and 10K run times.
        if user
          a(href="/account")
            button.mt-2.btn.btn-primary(type='button') Account
        else
          a(href="/auth/strava")
            img(alt="Connect with Strava" src="/images/btn_strava.png")
