/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

body {
    padding-top: 3.5rem;
}

.maincontainer {
    padding: 3rem 1.5rem;
}
.overlay {
    position: fixed;
    bottom: 0px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    opacity: 1;
    transition: all 0.1s;
    color: blueviolet;
}
